.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(2, 2, 2);
    text-align: center;
  }

.card-header {
    text-align: center;
}

/* input:invalid {
  border: 2px solid darkred;
}

form {
  border: 2px solid black;
} */